<ion-content id="" style="overflow: scroll;margin-bottom: 60px;">
    <!-- <ion-refresher pulling-text="获取最新数据..." refreshing-text="正在加载" on-refresh="">
    </ion-refresher>   -->
    <div class="list ow-list-bottom" ng-repeat="item in proInfo">
            <div class="item" ng-repeat="del in item.dels" ng-class="{'ow-radius-top':del.top,'ow-radius-bottom':del.bottom}">
                <span class="ow-span-title-long {{del.class}} ow-span-left ow-com-font-size">{{ del.title }}</span>
                <span class="item-note ow-span-right ow-com-font-size">{{ del.info }}</span>
            </div>        
    </div>  

</ion-content>
<div style="width: 100%;background-color: #f0f0f0;height: 100%;" ng-if="proInfo.length==0">
    <div class="empty"><p>暂无数据 ...</p></div>
</div> 
