<ion-content>
    <!-- <div class="backlogInfo_div" style="height: 30px;padding: 5px;">

    </div> -->
    <ion-refresher pulling-text="获取最新数据..." refreshing-text="正在加载" on-refresh="func_refresh()">
    </ion-refresher>
    <div class="synergymsg" id="diaocha" ng-repeat="item in xiangmu">
      <!-- <div class="backlogInfo_title">
          <em class="backlogInfo_title_label">附件信息</em>
      </div> -->
        <div class="item-input finishedtaskInfo_div">
            <div class="input-label finishedtaskInfo_title  noleft" style="">
                文件名称：
            </div>
            <div class="input-label" style="width: 62%;">
                {{item.atchNm}}
            </div>
        </div>
        <div class="item-input finishedtaskInfo_div">
            <div class="input-label finishedtaskInfo_title  noleft" style="">
                上传时间：
            </div>
            <div class="input-label" style="width: 62%;">
                {{item.createTm}}
                <i class="icon ion-ios-cloud-download-outline" style="color: #3839f1;float: right;margin-left: 20px; font-size: 25px;"></i>
            </div>
        </div>
        <div class="item-input finishedtaskInfo_div">
            <div class="input-label finishedtaskInfo_title  noleft" style="">
                上传人员：
            </div>
            <div class="input-label" style="width: 62%;">
                {{item.crtEmpNm}}
            </div>
        </div>
        <!-- <div class="" style="height: 4px;"></div> -->
    </div>
    <div style="height:70px"></div>
    <ion-infinite-scroll immediate-check="false" ng-if="finite_state" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
</ion-content>
