<ion-content id="companyCustomerInfoChild">
    <div class="second_title">
        <span class="label">基本信息</span>
    </div>
    <ion-list>
        <ion-item class="cus-basic-info-item" ng-repeat="info in labelA">
            <div class="cus-basic-info">
                <em>标签名称:</em>
                <em>{{info.name}}</em>
            </div>
        </ion-item>
    </ion-list>
    <div class="second_title">
        <span class="label">资产信息</span>
    </div>
    <ion-list>
        <ion-item class="cus-basic-info-item" ng-repeat="info in labelB">
            <div class="cus-basic-info">
                <em>标签名称:</em>
                <em>{{info.name}}</em>
            </div>
        </ion-item>
    </ion-list>
    <div class="second_title">
        <span class="label">兴趣爱好</span>
    </div>
    <ion-list>
        <ion-item class="cus-basic-info-item" ng-repeat="info in labelC">
            <div class="cus-basic-info">
                <em>标签名称:</em>
                <em>{{info.name}}</em>
            </div>
        </ion-item>
    </ion-list>
    <div class="second_title">
        <span class="label">业务特征</span>
    </div>
    <ion-list>
        <ion-item class="cus-basic-info-item" ng-repeat="info in labelD">
            <div class="cus-basic-info">
                <em>标签名称:</em>
                <em>{{info.name}}</em>
            </div>
        </ion-item>
    </ion-list>
    <div class="second_title">
        <span class="label">关联关系</span>
    </div>
    <ion-list>
        <ion-item class="cus-basic-info-item" ng-repeat="info in labelE">
            <div class="cus-basic-info">
                <em>标签名称:</em>
                <em>{{info.name}}</em>
            </div>
        </ion-item>
    </ion-list>
    <div class="second_title">
        <span class="label">风险评级</span>
    </div>
    <ion-list>
        <ion-item class="cus-basic-info-item" ng-repeat="info in labelF">
            <div class="cus-basic-info">
                <em>标签名称:</em>
                <em>{{info.name}}</em>
            </div>
        </ion-item>
    </ion-list>
    <!-- <div style="height:70px"></div> -->
</ion-content>
