<ion-view id="synergyselect">
    <ion-header-bar align-title="center" class="bar-energized" style="" id="header-bar">
        <button ng-click="goBack()" class="button button-icon ion-ios-arrow-left"></button>
        <h1 class="title">选择审批人</h1>
        <button class="button button-icon ion-ios-search" ng-click="qiehuan()"  style="display: block"></button>
    </ion-header-bar>


    <ion-content has-header="true" id="content" scroll="true">

        <ion-refresher pulling-text="获取最新数据..." refreshing-text="正在加载" on-refresh="func_refresh()">
        </ion-refresher>
        <div class="list">

            <li class="title"><span>员工名称</span> <span>所属机构</span></li>
            <ul class="select" ng-if="!isCheckbox">
                <ion-radio  ng-change="selectUser(item)" ng-value="item.userNum" ng-model="choice.data" ng-repeat="item in items"><li><span>{{item.realname}}</span> <span>{{item.orgName}}</span> <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></li></ion-radio>
            </ul>
            <ul class="select" ng-if="isCheckbox">
                <!--<ion-radio  ng-change="selectUser(item)" ng-value="item.userNum" ng-model="choice.data" ng-repeat="item in items"><li><span>{{item.realname}}</span> <span>{{item.orgName}}</span> <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></li></ion-radio>-->
                <ion-checkbox ng-repeat="item in items"  ng-change="selectedUser(item)"  ng-model="item.checked">
                    <li><span>{{item.realname}}</span> <span>{{item.orgName}}</span></li>
                </ion-checkbox>
            </ul>
        </div>

        <div class="shanxian"></div>    <!--闪现 必加-->
       <!-- <span>员工名称</span> <span>所属机构</span> -->
        <!--<ion-list id="cuslist">
            <ion-item style="line-height: 30px" class="cus-item"　ng-if="items.length != 0" ng-repeat="item in items">
                <ion-radio  ng-change="selectUser(item)" ng-value="item.userNum" ng-model="choice.data" ><li><span>{{item.realname}}</span> <span>{{item.orgName}}</span> <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></li></ion-radio>
            </ion-item>
        </ion-list>-->
        <ion-infinite-scroll  immediate-check="false" ng-if="finite_state" on-infinite="loadMore()" distance="10px">
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar style="height:44px; padding: 0; z-index:1;">
        <button ng-click="submit1()" class="btn-sumbit" style="width: 100%;background-color:#01B0E9; color:#fff; border-width: 0px" >提 交</button>
    </ion-footer-bar>

    <ion-side-menus style="width:0; background: none; z-index: initial;">
        <nav class="hidden  cehua">
            <p class="ceng" ng-click="guan()"></p>
            <div class="kuang">
                <header class="bar bar-header bar-stable">
                </header>
                <ion-content class="has-header">
                    <div class="item item-input">
                        <div class="input-label">
                            员工名称：
                        </div>
                        <input type="text" id="realname" name="realname" placeholder="请输入员工名称">
                    </div>
                </ion-content>
                <ion-footer-bar style="height: 43px;padding: 0;">
                    <button class="btn-reset" ng-click="func_reset()">重 置
                    </button>
                    <button class="btn-confirm" ng-click="func_ok()">完 成
                    </button>
                </ion-footer-bar>
            </div>
        </nav>
    </ion-side-menus>
</ion-view>