<!--<ion-content >
    <div style="margin-top: 2%">
        <div class="item item-input" ng-click="huadong()">
            <div class="input-label">
                员工名称
            </div>  &lt;!&ndash; placeholder="请选择姓名" &ndash;&gt;
            <input class="icon" type="text" ng-model="realname" value="{{realname}}" >
            <i class="icon ion-ios-arrow-right" style="margin-right:20px;color: #b4b4b4;font-size: 20px"></i>
        </div>
        <div class="item item-input">
            <div class="input-label">
                开始时间
            </div>
            <input class="icon" type="date" id ="rptDt1" name="rptDt1" placeholder="请选择开始时间">
            <i class="icon ion-ios-arrow-right" style="margin-right:20px;color: #b4b4b4;font-size: 20px"></i>
        </div>
        <div class="item item-input">
            <div class="input-label">
                结束时间
            </div>
            <input class="icon" type="date" id ="rptDt2" name="rptDt2" placeholder="请选择结束时间">
            <i class="icon ion-ios-arrow-right" style="margin-right:20px;color: #b4b4b4;font-size: 20px"></i>
        </div>
    </div>

</ion-content>
<ion-footer-bar style="height: 9%;padding: 0;">
    <button class="radiusbtn" style="" ng-click="querUser()">查询
    </button>
</ion-footer-bar>-->


<ion-view>
    <div>
        <ion-header-bar class="bar-energized" style=""
                        align-title="center">
            <button ng-click="goBack()" class="button button-icon ion-ios-arrow-back"></button>
            <h1 class="title">个人积分查询</h1>
        </ion-header-bar>
        <ion-content class="padding" style="padding :0px;">
            <div class="item item-input" ng-click="huadong()">
                <div class="input-label">
                    员工名称
                </div>
                <input type="text" ng-model="realname" value="{{realname}}" style="background: none" disabled>
                <i class="icon ion-ios-arrow-right" style="margin-right:20px;color: #b4b4b4;font-size: 20px"></i>
            </div>
            <div class="item item-input">
                <div class="input-label">
                    开始时间
                </div>
                <input type="date" id ="rptDt1" name="rptDt1" placeholder="请选择开始时间">
                <i class="icon ion-ios-arrow-right" style="margin-right:20px;color: #b4b4b4;font-size: 20px"></i>
            </div>
            <div class="item item-input">
                <div class="input-label">
                    结束时间
                </div>
                <input type="date" type="date" id ="rptDt2" name="rptDt2" placeholder="请选择结束时间">
                <i class="icon ion-ios-arrow-right" style="margin-right:20px;color: #b4b4b4;font-size: 20px"></i>
            </div>
        </ion-content>
        <!-- 个人积分查询，员工选择 -->
        <nav class="hidden  cehua">
            <p class="ceng" ng-click="hdclose()"></p>

            <div class="kuang">
                <div class="searchlei">
                    <ol>
                        <img ng-click="query()" src="img/integralquery/search.png" alt=""/>
                        <input class="wou" id="txtChinese" ng-model="user" type="text" placeholder="请输入姓名的关键字"/>
                    </ol>
                </div>
                <dl>
                    <dt class="fenclass">
                    <ul>
                        <li ng-click="chooseUser(item)" ng-repeat="item in userList"><span
                                ng-bind="item.realname"></span></li>
                    </ul>

                    </dt>

                </dl>
            </div>
        </nav>
        <ion-footer-bar style="height: 9%;padding: 0;margin-bottom: 10%;z-index: 0;border-top-width:0px;background-image: none">
            <button class="radiusbtn" style="" ng-click="querUser()">查询
            </button>
        </ion-footer-bar>
    </div>
</ion-view>

