<ion-view id="synergyclues">
    <ion-header-bar align-title="center" class="bar-energized" style="" id="header-bar">
        <button ng-click="goBack()" class="button button-icon ion-ios-arrow-left"></button>
        <h1 class="title">协同项目管理流程审批</h1>
    </ion-header-bar>
    <ion-content has-header="true" id="content" scroll="false">
        <tab-slide-box tab='0'>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll" style="width: 100%">
                        <a href="javascript:;" class="" style=";">项目信息</a>
                        <a href="javascript:;" class="" style="">名单信息</a>
                        <a href="javascript:;" class="" style="">协同方信息</a>
                        <a href="javascript:;" class="" style="">附件资料信息</a>
                        <a href="javascript:;" class="" style="">已完成工作</a>
                      <!--  <a href="javascript:;" class="" style="" ng-if="activityId=='ACT_5'">审核意见</a>-->
                    </ion-scroll>
                </div>
            </div>
            <div style="height:5px;background-color:#f0f0f0;"></div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide>
                    <div ng-include="'areas/alreadyBacklog/flows/alreadyCarbonbizoptinfhome/item/tab/baseData.html'">
                    </div>
                </ion-slide>

                <ion-slide>
                    <div ng-include="'areas/alreadyBacklog/flows/alreadyCarbonbizoptinfhome/item/tab/findCstLstTablistData.html'">
                    </div>
                </ion-slide>

                <ion-slide>
                    <div ng-include="'areas/backlog/flows/carbonbizoptinfhome/item/tab/doGetProjCooTeamListData.html'">
                    </div>
                </ion-slide>

                <ion-slide>
                    <div ng-include="'areas/alreadyBacklog/flows/alreadyCarbonbizoptinfhome/item/tab/getAttchListData.html'">
                    </div>
                </ion-slide>

                <ion-slide>
                    <div ng-include="'areas/alreadyBacklog/flows/alreadyCarbonbizoptinfhome/item/tab/doGetActyListData.html'">
                    </div>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>


   <!-- <ion-footer-bar style="height:44px;    padding: 0;">
        &lt;!&ndash;<button class=" " style="width: 50%;background-color: #eeb81a;color:  #6a3906; border-width: 0px" ui-sref="backlogInfoAuditing">审批</button>&ndash;&gt;
        <button class=" " style="width: 100%;background-color:#01B0E9; color:#fff; border-width: 0px"
                ng-click="submitCarbonCopyInfo2()">保存
        </button>
    </ion-footer-bar>-->

</ion-view>