<ion-content  id="partnerInfoChild">
    <ion-refresher pulling-text="获取最新数据..." refreshing-text="正在加载" on-refresh="func_refresh()">
    </ion-refresher>
    <ion-list>
        <ion-item class="partner-basic-info-item"  ng-repeat="info in xiangmu">
            <ol ng-click="tanchu($event)" on-swipe="huandong()">
                <div class="partner-basic-info">
                    <em>文件名称：</em>
                    <em>{{info.attachNm}}</em>
                </div>
                <div class="partner-basic-info">
                    <em>上传人员：</em>
                    <em>{{info.blngEmpeNm}}</em>
                </div>
                <div class="partner-basic-info">
                    <em>上传部门：</em>
                    <em>{{info.blngDeptNm}}</em>
                </div>
                <div class="partner-basic-info">
                    <em>上传时间：</em>
                    <em>{{info.udtTm}}</em>
                </div>
                <div class="" style="background-color: #f0f0f0;height: 1px; position: relative; z-index: 20; margin-left:-20px;"></div>
            </ol>

        </ion-item>
    </ion-list>
    <ion-infinite-scroll immediate-check="false" ng-if="finite_state" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
    <ion-item class="partner-base-item" style="background-color: #f0f0f0;border-width: 0px;margin-bottom: 20px">
</ion-content>

<div ng-if="xiangmu.length == 0">
    <div class="empty"><span>暂无数据 ...</span></div>
</div>