<ion-view id="synergyclues">
    <div>
        <ion-header-bar align-title="center" class="bar-energized" style="" id="header-bar">
            <button ng-click="goBack()" class="button button-icon ion-ios-arrow-left"></button>
            <h1 class="title">{{processDefineName}}审批</h1>
        </ion-header-bar>
        <ion-content has-header="true" id="content" scroll="false">
            <tab-slide-box tab='0'>
                <div class="tsb-icons">
                    <div class="tsb-ic-wrp">
                        <ion-scroll direction="x" class="tsb-hscroll" style="width: 100%">
                            <a href="javascript:;" class="" style=";">线索信息</a>
                            <a href="javascript:;" class="" style="">协同方信息</a>
                            <a href="javascript:;" class="" style="">附件资料信息</a>
                            <a href="javascript:;" class="" style="">已完成工作</a>
                        </ion-scroll>
                    </div>
                </div>
                <div style="height:5px;background-color:#f0f0f0;"></div>
                <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                    <ion-slide>
                        <ion-content>
                            <!--<div class="backlogInfo_div item" style="height:80px;">
                                <div class="backlogInfo_title" style="margin-bottom: 10px;" ng-bind="processName"></div>
                                <em class="backlogInfo_note" >环节：{{activityName | limitTo:7}}</em>
                                <em class="backlogInfo_note" style="padding-left:20px;">时间：{{beginTime}} </em>
                            </div>-->
                            <div class="item item-input backlogInfo_div" ui-sref="history">
                                <div class="input-label backlogInfo_title  biaotou" style="font-size: 15px;color: #1A1A1A;">
                                    概况
                                </div>
                                <div class="input-label" style="width: 82%;font-size: 15px;color: #1A1A1A;">
                                    <i class="icon ion-chevron-right" style="color: #b4b4b4;float: right"></i>
                                </div>
                            </div>
                            <div class="backlogInfo_div item" style="background-color: #f0f0f0;height: 30px;padding: 5px;">
                                <div class="backlogInfo_title">
                                    <em class="backlogInfo_title_label" style="color: red">*</em>
                                    <em class="backlogInfo_title_label">基本信息</em>
                                </div>
                            </div>
                            <ol>
                                <div class="item item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="font-size: 15px;color: #1A1A1A;">
                                        线索标题：
                                    </div>
                                    <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                        {{baseData.clueTitle}}
                                        <!--<em class="backlogInfo_title_label" style="margin-right: 20px">王颖希 </em>-->
                                        <!--<i class="icon ion-chevron-right" style="color: #b4b4b4;float: right"></i>-->
                                    </div>
                                </div>
                                <div class="item item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="font-size: 15px;color: #1A1A1A;">
                                        管理人员：
                                    </div>
                                    <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                        {{baseData.crtEmpNm}}
                                    </div>
                                </div>
                                <div class="item item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="font-size: 15px;color: #1A1A1A;">
                                        管理部门：
                                    </div>
                                    <div class="input-label" style="width: 65%;font-size: 15px;color: #1A1A1A;  ">
                                        {{baseData.crtInsNm}}
                                    </div>
                                </div>
                                <div class="item item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="font-size: 15px;color: #1A1A1A;">
                                        联系方式：
                                    </div>
                                    <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                        {{baseData.crtMobile}}
                                    </div>
                                </div>
                                <div class="item item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="font-size: 15px;color: #1A1A1A;">
                                        创建时间：
                                    </div>
                                    <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                        {{baseData.crtTm}}
                                    </div>
                                </div>
                                <div class="item item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="font-size: 15px;color: #1A1A1A;">
                                        线索背景：
                                    </div>
                                    <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                        {{baseData.clueBkgDsc}}
                                    </div>
                                </div>
                                <div class="item item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="font-size: 15px;color: #1A1A1A;">
                                        线索内容：
                                    </div>
                                    <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                        {{baseData.clueCntDsc}}
                                    </div>
                                </div>
                                <div class="item item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="font-size: 15px;color: #1A1A1A;">
                                        线索价值：
                                    </div>
                                    <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                        {{baseData.clueValCdNm}}
                                    </div>
                                </div>
                                <div class="item item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="font-size: 15px;color: #1A1A1A;">
                                        审核领导：
                                    </div>
                                    <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                        {{baseData.dirLeaderNm}}
                                    </div>
                                </div>
                            </ol>

                            <!--<div class="" style="background-color: #f0f0f0;height: 4px;"></div>
                            <ion-item class="" style="height: 55px;border-width: 0px;background-color: #f0f0f0">
                            </ion-item>-->
                            <div style="height:100px"></div>
                        </ion-content>

                        <div ng-if="!baseDataFlag1" style="width: 100%; height: 100%;" class="weikong">
                            <div class="empty"><p>暂无数据 ...</p></div>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <ion-content>
                            <ion-refresher pulling-text="获取最新数据..." refreshing-text="正在加载" on-refresh="func_refresh2()">
                            </ion-refresher>
                            <ion-list>
                                <div class="synergymsg" ng-repeat="item in xiangmu2">
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  zleft1" style="font-size: 15px;color: #1A1A1A;">
                                            协同机构：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.instNm}}
                                        </div>
                                    </div>
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  zleft1" style="font-size: 15px;color: #1A1A1A;">
                                            协同接口人：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.crtEmpNm}}
                                        </div>
                                    </div>
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  zleft1" style="font-size: 15px;color: #1A1A1A;">
                                            关联合作伙伴：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.cooPtnNm}}
                                            <!--<i class="icon ion-ios-cloud-download-outline"
                                               style="color: #3839f1;float: right;margin-right: 10px;margin-right: 20px; font-size: 25px;"></i>-->
                                        </div>
                                    </div>
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  zleft1" style="font-size: 15px;color: #1A1A1A;">
                                            协同内容简述：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.colCntDsc}}
                                        </div>
                                    </div>
                                    <!--<div class="" style="background-color: #f0f0f0;height: 4px;"></div>-->
                                </div>
                                <div style="height: 100px"></div>
                            </ion-list>
                            <ion-infinite-scroll immediate-check="false" ng-if="finite_state2" on-infinite="loadMore2()" distance="1%">
                            </ion-infinite-scroll>
                        </ion-content>

                        <div ng-if="!baseDataFlag2" style="width: 100%; height: 100%;" class="weikong">
                            <div class="empty"><p>暂无数据 ...</p></div>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <ion-content>
                            <ion-refresher pulling-text="获取最新数据..." refreshing-text="正在加载" on-refresh="func_refresh3()">
                            </ion-refresher>
                            <div class="synergymsg">
                                <div class="synergymsg" ng-repeat="item in xiangmu3">
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  noleft" style="font-size: 15px;color: #1A1A1A;">
                                            文件名称：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.attachNm}}
                                        </div>
                                    </div>
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  noleft" style="font-size: 15px;color: #1A1A1A;">
                                            上传人员：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.blngEmpeNm}}
                                        </div>
                                    </div>
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  noleft" style="font-size: 15px;color: #1A1A1A;">
                                            上传部门：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.blngDeptNm}}

                                        </div>
                                    </div>
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  noleft" style="font-size: 15px;color: #1A1A1A;">
                                            上传时间：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.udtTm}}
                                            <i class="icon ion-ios-cloud-download-outline"
                                               style="color: #3839f1;float: right;margin-left: 20px; font-size: 25px;"></i>
                                        </div>
                                    </div>
                                    <div class="" style="background-color: #f0f0f0;height: 4px;"></div>
                                </div>
                            </div>
                            <!--<ion-item class="" style="height: 55px;border-width: 0px;background-color: #f0f0f0">
                            </ion-item>-->
                            <div style="height: 100px"></div>
                            <ion-infinite-scroll immediate-check="false" ng-if="finite_state3" on-infinite="loadMore3()" distance="1%">
                            </ion-infinite-scroll>
                        </ion-content>

                        <div ng-if="!baseDataFlag3" style="width: 100%; height: 100%;" class=" weikong">
                            <div class="empty"><p>暂无数据 ...</p></div>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <ion-content>
                            <ion-refresher pulling-text="获取最新数据..." refreshing-text="正在加载" on-refresh="func_refresh4()">
                            </ion-refresher>
                            <div class="synergymsg">
                                <div class="synergymsg" ng-repeat="item in xiangmu4">
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  zleft1" style="font-size: 15px;color: #1A1A1A;">
                                            活动标题：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.actyTitle}}
                                        </div>
                                    </div>
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  zleft1" style="font-size: 15px;color: #1A1A1A;">
                                            活动编号：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.actySn}}
                                        </div>
                                    </div>
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  zleft1" style="font-size: 15px;color: #1A1A1A;">
                                            活动类型：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.actyTpcdNm}}
                                        </div>
                                    </div>
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  zleft1" style="font-size: 15px;color: #1A1A1A;">
                                            执行时间：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.exeDt}}
                                        </div>
                                    </div>
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  zleft1" style="font-size: 15px;color: #1A1A1A;">
                                            执行部门：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.exeInsNm}}
                                        </div>
                                    </div>
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  zleft1" style="font-size: 15px;color: #1A1A1A;">
                                            执行人员：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.exeEmpeNm}}
                                        </div>
                                    </div>
                                    <div class="item item-input backlogInfo_div">
                                        <div class="input-label backlogInfo_title  zleft1" style="font-size: 15px;color: #1A1A1A;">
                                            活动记录人员：
                                        </div>
                                        <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                                            {{item.udtEmpNm}}
                                        </div>
                                    </div>
                                    <div class="" style="background-color: #f0f0f0;height: 4px;"></div>
                                </div>
                            </div>
                            <!--<ion-item class="" style="height: 55px;border-width: 0px;background-color: #f0f0f0">
                            </ion-item>-->
                            <div style="height: 100px"></div>
                            <ion-infinite-scroll immediate-check="false" ng-if="finite_state4" on-infinite="loadMore4()" distance="1%">
                            </ion-infinite-scroll>
                        </ion-content>

                        <div ng-if="!baseDataFlag4" style="width: 100%; height: 100%;" class="weikong">
                            <div class="empty"><p>暂无数据 ...</p></div>
                        </div>
                    </ion-slide>

                </ion-slide-box>
            </tab-slide-box>
        </ion-content>
    </div>
</ion-view>