<ion-view>
    <div>
        <ion-side-menus id="companydata">
            <ion-header-bar class="bar-energized" style="" align-title="center">
                <button ng-click="goBack()" class="button button-icon ion-ios-arrow-left"></button>
                <h1 class="title">公司数据申请</h1>
                <button class="button button-icon ion-ios-search" ng-click="qiehuan()"  style="display: block"></button>
            </ion-header-bar>

            <ion-side-menu-content drag-content="false">
                <ion-content>
                    <ion-refresher refreshing-text="正在加载" on-refresh="func_refresh()">
                    </ion-refresher>
                    <ion-list id="cuslist">
                        <ion-item style="line-height: 30px;border-radius:10px;" class="cus-item"　ng-if="items.length != 0" ng-repeat="item in items">
                            <ol ng-click="tanchu($event)" on-swipe="huandong()">
                                <div>
                                    <label>申请单号：</label>
                                    <label>{{item.appID}}</label>
                                </div>
                                <div>
                                    <label>法定名称：</label>
                                    <label>{{item.cstNm}}</label>
                                </div>
                                <div>
                                    <label>客户编号：</label>
                                    <label>{{item.cstId}}</label>
                                </div>
                                <div>
                                    <label>数据归属方：</label>
                                    <label>{{item.blngNm}}</label>
                                </div>
                                <div>
                                    <label>审批状态：</label>
                                    <label style="color: #01b0e9" >{{item.auditInd ==1?'审批通过':'申请中'}}</label>
                                </div>
                            </ol>
                            <!--<ion-option-button class="btn-reset" style="background-color: #e6f9ff;color:#01b0e9 " ng-click="approveInfoClick(item)">
                                <div style="width: 100%;">审批信息</div>
                            </ion-option-button>
                            <ion-option-button ng-click="cusItemClick(item)"  class="" style="background-color: #01b0e9;color:#e6f9ff">
                                <div style="width: 100%;">客户信息</div>
                            </ion-option-button>-->
                            <nav class="xuanze" style="display: none">
                                <div class="ceng" ng-click="close()"></div>
                                <div class="btns">
                                    <a class="btn-shenpi" ng-click="approveInfoClick(item)"><span>审批信息</span></a>
                                    <a class="btn-kehu" ng-click="cusItemClick(item)"><span>客户信息</span></a>
                                </div>
                            </nav>

                        </ion-item>
                    </ion-list>
                    <ion-infinite-scroll  immediate-check="false" ng-if="finite_state" on-infinite="loadMore()" distance="10px">
                    </ion-infinite-scroll>
                </ion-content>

                <div style="width: 100%;background-color: #f0f0f0;height: 100%;" ng-if="items.length == 0">
                    <div class="empty"><p>暂无数据 ...</p></div>
                </div>
            </ion-side-menu-content>

            <ion-side-menu style="z-index: initial">
                <nav class="hidden  cehua">
                    <p class="ceng" ng-click="guan()"></p>
                    <div class="kuang">
                        <header class="bar bar-header bar-stable">
                        </header>
                        <ion-content class="has-header">
                            <div class="item item-input">
                                <div class="input-label">
                                    申请单号：
                                </div>
                                <input type="text" id="appID" name="appID" placeholder="请输入申请单号">
                            </div>
                            <div class="item item-input">
                                <div class="input-label">
                                    客户编号：
                                </div>
                                <input type="text" id="cstId" name="cstId" placeholder="请输入客户编号">
                            </div>
                            <div class="item item-input">
                                <div class="input-label">
                                    客户法定名称：
                                </div>
                                <input type="text" id="cstNm" name="cstNm" placeholder="请输入名称">
                            </div>
                            <div class="item item-input item-select">
                                <div class="input-label">
                                    数据归属方：
                                </div>
                                <select id="blng" name="blng">
                                    <option value="">全部</option>
                                    <option value="{{item.codeValue}}" ng-repeat="item in blngData">{{item.codeName}}</option>
                                </select>
                            </div>
                            <div class="item item-input item-select">
                                <div class="input-label">
                                    审批状态
                                </div>
                                <select id="auditInd" name="auditInd">
                                    <option  value="" >请选择</option>
                                    <option value="0">申请中</option>
                                    <option value="1">审批通过</option>
                                </select>
                            </div>
                        </ion-content>
                        <ion-footer-bar style="height: 43px;padding: 0;">
                            <button class="btn-reset" ng-click="func_reset()">重 置
                            </button>
                            <button class="btn-confirm" ng-click="func_ok()">完 成
                            </button>
                        </ion-footer-bar>
                    </div>
                </nav>
            </ion-side-menu>


        </ion-side-menus>
    </div>
</ion-view>
