<ion-view id="organizationintegralquery">
    <ion-header-bar class="bar-energized" style="" align-title="center">
        <button ng-click="goBack()" class="button button-icon ion-ios-arrow-left"></button>
        <h1 class="title">机构积分查询</h1>
    </ion-header-bar>

    <ion-pane class="" style="height: auto">
        <ion-content id="orgtop" style="background-color: #f0f0f0;overflow: hidden" overflow-scroll="true" start-y="0">
            <ion-list style="">
                <ion-item style="font-size: 56px;background-color: #eeb81a;text-align: center;color: #6a3906">
                    {{deptSum}}
                </ion-item>
                <ion-item style="font-size: 17px;background-color: #eeb81a;text-align: center;color: #6a3906">
                  积分总数
                </ion-item>
                <ion-item style="font-size: 17px;background-color: #eeb81a;text-align: center;color: #6a3906">
                    {{realname}}
                </ion-item>
                <ion-item style="font-size: 17px;text-align: center;color: #6a3906" ui-sref>
                    <div style="float: left;width: 50%;color:#01b0e9;">报告日期</div>
                    <div style="float: left;width: 50%;color:#01b0e9;">积分值</div>
                </ion-item>
                <ion-item style="margin-top: 2.5%;height: 0;padding:0">
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>
    <ion-pane id="orgintegral" class="" style="height: initial;margin-top: 205px">
        <ion-content style="background-color: #f0f0f0;overflow: hidden;top:0px" overflow-scroll="false" start-y="0" class="no-header">
            <ion-list style="height: 100%;" id="orgdata" ng-repeat="item in items">
                <ion-item style="font-size: 15px;text-align: center;color: #666666;" ng-click="dianji(item)">
                    <div style="float: left;width: 45%">{{item.rptDt}}</div>
                    <div style="float: left;width: 45%">{{item.ptsVal}}</div>
                    <label class="icon ion-chevron-right" style="margin-left:2%;color: #b4b4b4;font-size: 17px"></label>
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-pane>
</ion-view>
