<ion-view id="synergyclues">
    <ion-header-bar align-title="center" class="bar-energized" style="" id="header-bar">
        <button ng-click="goBack()" class="button button-icon ion-ios-arrow-left"></button>
        <h1 class="title">客户数据查看权限信息</h1>
    </ion-header-bar>
    <ion-content has-header="true" id="content" scroll="false">
        <tab-slide-box tab='0'>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll" style="width: 100%">
                        <a href="javascript:;" class="" style=";">申请基本信息</a>
                        <a href="javascript:;" class="" style="">申请客户数据</a>
                        <a href="javascript:;" class="" style="">历史审批信息</a>
                    </ion-scroll>
                </div>
            </div>
            <div style="height:5px;background-color:#f0f0f0;"></div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide>
                    <ion-content>
                        <ion-list>
                            <ion-item class=" item-input backlogInfo_div">
                                <div class="input-label backlogInfo_title" style="">
                                    申请单号：
                                </div>
                                <div class="input-label" style="width: 62%;">
                                    {{vo.appID}}
                                </div>
                            </ion-item>
                            <ion-item class="item item-input backlogInfo_div">
                                <div class="input-label backlogInfo_title" style="">
                                    客户法定名称：
                                </div>
                                <div class="input-label" style="width: 62%;">
                                    {{vo.cstNm}}
                                </div>
                            </ion-item>
                            <ion-item class="item item-input backlogInfo_div">
                                <div class="input-label backlogInfo_title" style="">
                                    客户编号：
                                </div>
                                <div class="input-label" style="width: 65%;  ">
                                    {{vo.cstID}}
                                </div>
                            </ion-item>
                            <ion-item class="item item-input backlogInfo_div">
                                <div class="input-label backlogInfo_title" style="">
                                    数据归属方：
                                </div>
                                <div class="input-label" style="width: 62%;">
                                    {{vo.orgNm}}
                                </div>
                            </ion-item>
                            <ion-item class="item item-input backlogInfo_div">
                                <div class="input-label backlogInfo_title" style="">
                                    申请人：
                                </div>
                                <div class="input-label" style="width: 62%;">
                                    {{vo.empeNm}}
                                </div>
                            </ion-item>
                            <ion-item class="item item-input backlogInfo_div">
                                <div class="input-label backlogInfo_title" style="">
                                    申请人联系信息：
                                </div>
                                <div class="input-label" style="width: 62%;">
                                    {{vo.mobile}}
                                </div>
                            </ion-item>
                            <ion-item class="item item-input backlogInfo_div">
                                <div class="input-label backlogInfo_title" style="">
                                    申请机构：
                                </div>
                                <div class="input-label" style="width: 62%;">
                                    {{vo.deptNm}}
                                </div>
                            </ion-item>
                            <ion-item class="item item-input backlogInfo_div">
                                <div class="input-label backlogInfo_title" style="">
                                    申请日期：
                                </div>
                                <div class="input-label" style="width: 62%;">
                                    {{vo.applyDt}}
                                </div>
                            </ion-item>
                            <ion-item class="item item-input backlogInfo_div">
                                <div class="input-label backlogInfo_title" style="">
                                    数据有效期：
                                </div>
                                <div class="input-label" style="width: 62%;">
                                    {{vo.authEndDt}}
                                </div>
                            </ion-item>
                            <ion-item class="item item-input backlogInfo_div">
                                <div class="input-label backlogInfo_title" style="">
                                    申请用途说明：
                                </div>
                                <div class="input-label" style="width: 62%;">
                                    {{vo.useDsc}}
                                </div>
                            </ion-item>
                            <!--<ion-item style="background-color: #f0f0f0;border-width: 0px;">

                            </ion-item>-->
                            <!-- <div style="height:60px"></div> -->
                        </ion-list>
                    </ion-content>
                </ion-slide>

                <ion-slide>
                    <ion-content id="backlogInfoList">
                        <ion-refresher pulling-text="获取最新数据..." refreshing-text="正在加载" on-refresh="func_refresh()">
                        </ion-refresher>
                        <ion-list>
                            <ion-item style="padding: 0px" class="synergymsg  ztai2" ng-repeat="info in items2">
                                <div class="item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="">
                                        数据实体：
                                    </div>
                                    <div class="input-label" style="width: 62%;">
                                        {{info.dataEnt}}
                                    </div>
                                </div>
                                <div class="item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="">
                                        数据属性：
                                    </div>
                                    <div class="input-label" style="width: 62%;">
                                        {{info.dataAttr}}
                                    </div>
                                </div>
                                <div class="item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="">
                                        授权状态：
                                    </div>
                                    <div class="input-label" style="width: 62%;">
                                        {{info.authInd}}
                                    </div>
                                </div>
                            </ion-item>
                            <!--<ion-item></ion-item>-->
                            <!-- <div style="height:60px"></div> -->
                        </ion-list>
                        <ion-infinite-scroll immediate-check="false" ng-if="finite_state" on-infinite="loadMore()" distance="1%">
                        </ion-infinite-scroll>
                    </ion-content>
                </ion-slide>

                <ion-slide>
                    <ion-content id="backlogInfoList">
                        <ion-refresher pulling-text="获取最新数据..." refreshing-text="正在加载" on-refresh="his_refresh()">
                        </ion-refresher>
                        <ion-list>
                            <ion-item  class="synergymsg  ztai2"  style="padding: 0px"
                                      ng-repeat="info in query_aprv_his_listItem">
                                <div class="item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="">
                                        节点名称：
                                    </div>
                                    <div class="input-label" style="width: 62%;">
                                        {{info.actLinkId|getActLink}}
                                    </div>
                                </div>
                                <div class="item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="">
                                        审批人员：
                                    </div>
                                    <div class="input-label" style="width: 62%;">
                                        {{info.aprvEmpNm}}
                                    </div>
                                </div>
                                <div class="item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="">
                                        审批机构：
                                    </div>
                                    <div class="input-label" style="width: 62%;">
                                        {{info.aprvInsNm}}
                                    </div>
                                </div>

                                <div class="item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="">
                                        审批角色：
                                    </div>
                                    <div class="input-label" style="width: 62%;">
                                        {{info.aprvRoleNm}}
                                    </div>
                                </div>

                                <div class="item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="">
                                        审批状态：
                                    </div>
                                    <div class="input-label" style="width: 62%;">
                                        {{info.aprvStCd|getStatus}}
                                    </div>
                                </div>

                                <div class="item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="">
                                        审批意见：
                                    </div>
                                    <div class="input-label" style="width: 62%;">
                                        {{info.aprvOpns}}
                                    </div>
                                </div>

                                <div class="item-input backlogInfo_div">
                                    <div class="input-label backlogInfo_title" style="">
                                        审批日期：
                                    </div>
                                    <div class="input-label" style="width: 62%;">
                                        {{info.aprvTm}}
                                    </div>
                                </div>
                            </ion-item>
                            <!--<ion-item style="background-color: #f0f0f0"></ion-item>-->
                            <!-- <div style="height:60px"></div> -->
                        </ion-list>
                        <ion-infinite-scroll immediate-check="false" ng-if="his_finite_state" on-infinite="his_loadMore()" distance="1%">
                        </ion-infinite-scroll>
                    </ion-content>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>


    </ion-content>
</ion-view>
