<div ng-if="xiangmu2.length != 0" class="feikong">
    <ion-content>
        <ion-refresher pulling-text="获取最新数据..." refreshing-text="正在加载" on-refresh="func_refresh2()">
        </ion-refresher>
        <div class="synergymsg">
            <div class="synergymsg" ng-repeat="item in xiangmu2">
                <div class="item item-input backlogInfo_div">
                    <div class="input-label backlogInfo_title  noleft" style="font-size: 15px;color: #1A1A1A;">
                        客户编号：
                    </div>
                    <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                        {{item.cstId}}
                    </div>
                </div>
                <div class="item item-input backlogInfo_div">
                    <div class="input-label backlogInfo_title  noleft" style="font-size: 15px;color: #1A1A1A;">
                        客户名称：
                    </div>
                    <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                        {{item.ipNm}}
                    </div>
                </div>
                <div class="item item-input backlogInfo_div">
                    <div class="input-label backlogInfo_title  noleft" style="font-size: 15px;color: #1A1A1A;">
                        管理机构：
                    </div>
                    <div class="input-label" style="width: 62%;font-size: 15px;color: #1A1A1A;">
                        {{item.orgNm}}
                        <!--<i class="icon ion-ios-cloud-download-outline"
                           style="color: #3839f1;float: right;margin-right: 10px;margin-right: 20px; font-size: 25px;"></i>-->
                    </div>
                </div>
                <div class="item item-input backlogInfo_div" style="background-color: #f0f0f0;border-width: 0px">
                    &nbsp
                </div>
            </div>
        </div>
        <ion-infinite-scroll immediate-check="false" ng-if="finite_state2" on-infinite="loadMore2()" distance="1%">
        </ion-infinite-scroll>
        <!--<ion-item class="" style="height: 55px;border-width: 0px;background-color: #f0f0f0">
        </ion-item>-->

    </ion-content>
</div>

<div ng-if="xiangmu2.length == 0" style="width: 100%; height: 100%;"  class="weikong">
    <div class="empty"><p>暂无数据 ...</p></div>
</div>