#personCustomerList {
    background: white;
/*    -webkit-transition-property: opacity, top;
    transition-property: opacity, top;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-animation: pop .3s forwards;
    animation: pop .3s forwards;*/
}

#personCustomerList .item:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#personCustomerList .item:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#personCustomerList .cus-item-img-left{
    /* position: absolute; */
    /* top: 25px; */
    float: left;
    /* left: 18px; */
    width: 65px;
    height: 65px;
    border-color: #d6d6d6;
    border: 1px;
    box-shadow: 1px 1px 5px 1px #E8E8E8;
    border-radius: 3px;
    text-align: center;
    margin-top: 3%;
    margin-right: 8%;
}

#personCustomerList .cus-item-img-left img{
    width: 50px;
    height: 50px;
    margin-top:7px;
}
#personCustomerList .cusItem{
    width: 69%;
    /* position: absolute; */
    /* top: 17px; */
    /* left: 94px; */
    float: left;
}

#personCustomerList .cusItem span{
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  width: 82%;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin-top: 1px;
}

#personCustomerList .cusItem .cus-item-title{
  font-size: 18px;
  color: #333333;
  margin-bottom: 2px;
}

#personCustomerList .btn-reset{
    color: #01B0E9;
    width: 50%;
    background-color: #E6F9FF;
}

#personCustomerList .btn-ok{
    color: #6a3906;
    font-size: 18px;
    background-color: #eeb81a;
    width: 50%;
    left: 50%;
}

#personCustomerList .right-button{
    margin: 0px;
    padding: 0px;
    width: 50%;
    position: absolute;
    float: left;
    border-radius: 0px;
}

#personCustomerList .right-padding{
    z-index: 15;
    bottom: 0px;
    width: 100%;
    position: absolute;
    height: 43px;
}
