<ion-view id="moremenu">
    <div>
        <ion-header-bar align-title="center" class="bar-energized" style="" id="header-bar">
            <button ng-click="func_goBack()" class="button button-icon ion-ios-arrow-left"></button>
            <h1 class="title">我的积分</h1>
            <button ng-click="modal.show()" class="button button-icon ion-role"></button>
        </ion-header-bar>

        <ion-content has-header="true">
          <div id="hideMask" style="display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;z-index:1000;"></div>
            <div class=" list">
                <div class="item item-divider">
                    积分查询
                </div>
                <a class="item item-icon-left item-icon-right" ng-click="showPage('#/personintegralquery','CPC3040502')" >
                    <i class="icon ion-61"></i>
                    个人积分查询
                    <i class="icon ion-ios-arrow-right item-note" style=""></i>
                </a>

                <a class="item item-icon-left item-icon-right" ng-click="showPage('#/organizationintegralquery','CPC3040502')">
                    <i class="icon ion-36"></i>
                    机构积分查询
                    <i class="icon ion-ios-arrow-right item-note" style=""></i>
                </a>
            </div>
        </ion-content>
    </div>
</ion-view>

<script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-energized" style=""
                        align-title="center">
            <button ng-click="modal.hide()" class="button button-icon ion-ios-arrow-back"></button>
            <h1 class="title">切换岗位</h1>
        </ion-header-bar>
        <ion-content class="padding" style="padding :0px;">
            <div class="list">
                <ion-radio ng-change="changeGroup(item)"  ng-repeat="item in position.groups" ng-value="item.groupCode" ng-model="data.clientSide">{{item.groupName}}</ion-radio>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
