<ion-view id="performanceStatis">
    <ion-side-menus>
        <ion-header-bar class="bar-calm" id="header-bar" align-title="center">
            <button ng-click="goBack()" class="button button-icon ion-ios-arrow-left"></button>
            <h1 class="title">效能统计</h1>
            <button class="button button-icon " ng-click="qiehuan()" style="display: block">筛选</button>
        </ion-header-bar>
        <ion-side-menu-content drag-content="false">
            <ion-content has-header="true" scroll="true">
                <div style="display: flex;width: 100%;height: 39px;justify-content: space-evenly;background-color: #fff;">
                    <span style="padding: 12px 20px;border-bottom: 2px solid #01b0e9;color: #01b0e9">流程数统计</span>
                    <span style="padding: 12px 20px;" ng-click="fnGoNext()">效能待办统计</span>
                </div>
                <div style="width: 100%;height: 100%;background-color: #f0f0f0" ng-show="ngflag"></div>
                <div class="ow-e-box">
                    <div class="ow-bor-title">{{ title }}</div>
                    <div id="flow" class="ow-echart-box" style="height:400px;"></div>
                    <div class="ow-line"></div>
                    <div ng-init="fnInit()">
                        <div class="ow-table-border-box">
                            <table class="bordered" cellspacing="0" border="0" id="ow-table">
                                <tr class="ow-first-title">
                                    <th>类型</th>
                                    <th>次数（占比）</th>
                                </tr>
                                <tr ng-repeat="item_1 in items_1">
                                    <td>{{ item_1.title }}</td>
                                    <td>{{ item_1.value }}（{{ item_1.point }}）</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="width: 100%;background-color: #f0f0f0;height: 100%;position: fixed;top: 48px;" ng-if="items_1.length==0">
                    <div class="empty">
                        <p style="color:#333;">{{ title }}暂无数据 ...</p>
                    </div>
                </div>
            </ion-content>
        </ion-side-menu-content>
        <ion-side-menu style="z-index: initial">
            <nav class="hidden  cehua">
                <p class="ceng" ng-click="guan()"></p>
                <div class="kuang">
                    <header class="bar bar-header bar-stable">
                    </header>
                    <ion-content class="has-header">
                        <div class="item item-input item-select">
                            <div class="input-label" id="lv_1">年份：</div>
                            <select ng-model="$parent.$parent.selected1" ng-options="s.name for s in list" ng-change="c()">
                                <option value="">-请选择-</option>
                            </select>
                        </div>
                        <div class="item item-input item-select" ng-show="$parent.$parent.selected1.child.length">
                            <div class="input-label" id="lv_2">年份：</div>
                            <select ng-model="$parent.$parent.selected2" ng-options="sh.name for sh in $parent.$parent.selected1.child"
                                ng-change="c2()">
                                <option value="">全部</option>
                            </select>
                        </div>
                        <div class="item item-input item-select" ng-show="$parent.$parent.selected2.child.length">
                            <div class="input-label" id="lv_3">月份：</div>
                            <select ng-model="$parent.$parent.selected3" ng-options="x.name for x in $parent.$parent.selected2.child"
                                ng-change="c3()">
                                <option value="" id="lv_1">全部</option>
                            </select>
                        </div>
                        <!-- <div class="item item-input item-select" ng-show="$parent.$parent.selected2.child.length">
                                <div class="input-label" id="lv_4">季度：</div>
                                <select  ng-model="$parent.$parent.selected4" ng-options="x.name for x in $parent.$parent.selected2.child" ng-change="c4()" >
                                    <option value="">全部</option>
                                </select>
                            </div>
                            <div class="item item-input item-select" ng-show="$parent.$parent.selected4.child.length">
                                <div class="input-label" id="lv_5">组：</div>
                                <select  ng-model="$parent.$parent.selected5" ng-options="x.orgName for x in $parent.$parent.selected4.child" ng-change="c5()" >
                                    <option value="">全部</option>
                                </select>
                            </div> -->
                        <div class="shanxian"></div>
                        <!--  闪现 必加  -->
                    </ion-content>
                    <ion-footer-bar style="height: 43px;padding: 0;">
                        <button class="btn-reset" ng-click="fnReset()">重 置
                        </button>
                        <button class="btn-confirm" ng-click="fnOk()">完 成
                        </button>
                    </ion-footer-bar>
                </div>
            </nav>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>