#finishedtaskList {
    background: white;

/*    -webkit-transition-property: opacity, top;
    transition-property: opacity, top;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-animation: pop .3s forwards;
    animation: pop .3s forwards;*/
}
#finishedtaskList .scroll{
    background-color:#f0f0f0;
}
#finishedtaskList .finishedtask-item{
    display: flex;
    height: 112px;
    width: 96%;
    border:solid;
    border-color: #EEEEEE;
    border-width: 1px;
    padding:0px;
    margin-left:7px;
    margin-top:7px;
}
#finishedtaskList .finishedtask-item-up-div{
    height:85px;
    width:100%;
    border-bottom-width:2px;
    border-bottom-color:#f0f0f0;
}

#finishedtaskList .finishedtask-item-important-div{
    position:absolute;
    top: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
}
#finishedtaskList .finishedtask-item-important-img{
    width: 20px;
    height: 20px;
    background-color:#ffffff;
}

#finishedtaskList .finishedtask-item-img-left{
    position:absolute;
    top: 8px;
    left:14px;
    width: 57px;
    height: 57px;
    border-color: #d6d6d6;
    border:1px;
    box-shadow: 1px 1px 5px 1px #E8E8E8;
    border-radius:3px;
    text-align: center;
}

#finishedtaskList .finishedtask-item-img-left img{
    width: 45px;
    height: 45px;
    margin-top:7px;
}

#finishedtaskList .finishedtaskContent{
    width: 50%;
    position:absolute;
    top: 10px;
    left:83px;
}

#finishedtaskList .finishedtaskContent .finishedtask-item-title{
    font-size: 13px;
    width: 95%;
    color: #1A1A1A;
    height:40px;
    display:block;
    white-space:pre-wrap;
    overflow:hidden;
}

#finishedtaskList .finishedtaskContent .finishedtask-item-text{
    display:block;
    width: 95%;
    font-size: 11px;
    color: #999999;
    overflow:hidden;
}

#finishedtaskList .finishedtaskContent .finishedtask-item-name-xt{
    color: #0c93e1;
}
#finishedtaskList .finishedtaskContent .finishedtask-item-name-yx{
    color: #02cb94;
}
#finishedtaskList .finishedtaskContent .finishedtask-item-name-kh{
    color: #fbc31f;
}
 #finishedtaskList .finishedtaskProgress{
     float:right;
 }

#finishedtaskList .finishedtaskProgress .finishedtaskProgressText{
    position:absolute;
    top:58px;
    right:5px;
    font-size:9px;
    color:#666666;
}

#finishedtaskList .finishedtask-item-down-div{
    height:27px;
    width:100%;
    border-top:2px solid #f0f0f0;
    position:absolute;
    top:85px;
    left:0px;
}

#finishedtaskList .finishedtask-item-down-left{
    width:50%;
    text-align:center;
    line-height: 23px;
    float:left;
    font-size:10px;
    color:#333333;
    border-right:2px solid #f0f0f0;
}

#finishedtaskList .finishedtask-item-down-right{
    width:50%;
    float:left;
    text-align:center;
    line-height: 23px;
    font-size:10px;
    color:#333333;
}

#finishedtaskList .btn-reset{
    color: #FBC31F;
    font-size:18px;
    width: 50%;
    background-color: #6a3906;
}

#finishedtaskList .btn-ok{
    color: #6a3906;
    font-size: 18px;
    background-color: #eeb81a;
    width: 50%;
    left: 50%;
}