<ion-view id="querysprvinfpage" view-title="督办事项查询页">
    <div>
        <ion-side-menus>
            <!--题头-->
            <ion-header-bar align-title="center" class="bar-energized header-bar" id="header-bar">
                <button ng-click="goBack()" class="button button-icon ion-ios-arrow-left"
                        style="color: #FFFFFF;"></button>
                <h2 class="title" style="color: #FFFFFF;">督办事项查询</h2>
                <button class="button button-icon ion-ios-search" ng-click="qiehuan()"  style="display: block"></button>
            </ion-header-bar>

            <!-- 中间内容 -->
            <ion-side-menu-content>
                <ion-content id="partnerionlist">
                    <ion-refresher pulling-text="获取最新数据..." refreshing-text="正在加载" on-refresh="func_refresh()">
                    </ion-refresher>
                    <ion-list>
                        <ion-item class="ow-list-card" ng-repeat="item in xiangmu" ng-click="show_info(item)">
                            <div class="item">
                                <div class="ow-span-title ow-span-left ow-com-font-size">督办名称：</div>
                                <div class="item-note ow-span-right ow-com-font-size">{{item.mtgNm}}</div>
                            </div>
                            <div class="item">
                                <div class="ow-span-title ow-span-left ow-com-font-size">督办编号：</div>
                                <div class="item-note ow-span-right ow-com-font-size">{{item.sprvID}}</div>
                            </div>
                            <div class="item">
                                <div class="ow-span-title ow-span-left ow-com-font-size">督办类型：</div>
                                <div class="item-note ow-span-right ow-com-font-size">{{item.sprvTpCdNm}}</div>
                            </div>
                            <div class="item">
                                <div class="ow-span-title ow-span-left ow-com-font-size">责任人：</div>
                                <div class="item-note ow-span-right ow-com-font-size">{{item.sprvRsplPsnNm}}</div>
                            </div>
                            <div class="item">
                                <div class="ow-span-title ow-span-left ow-com-font-size">责任机构：</div>
                                <div class="item-note ow-span-right ow-com-font-size">{{item.sprvRsplPsnInstNm}}</div>
                            </div>
                            <div class="item">
                                <div class="ow-span-title ow-span-left ow-com-font-size">督办状态：</div>
                                <div class="item-note ow-span-right ow-com-font-size">{{item.sprvStCdNm}}</div>
                            </div>
                            <div class="item">
                                <div class="ow-span-title ow-span-left ow-com-font-size">开始时间：</div>
                                <div class="item-note ow-span-right ow-com-font-size">{{item.stTm}}</div>
                            </div>
                            <div class="item">
                                <div class="ow-span-title ow-span-left ow-com-font-size">本人角色：</div>
                                <div class="item-note ow-span-right ow-com-font-size">{{item.roleDsc}}</div>
                            </div>
                        </ion-item>
                        <div style="height:60px"></div>
                    </ion-list>
                    <ion-infinite-scroll immediate-check="false" ng-if="finite_state" on-infinite="loadMore()" distance="2%">
                    </ion-infinite-scroll>
                </ion-content>

                <div style="width: 200%;background-color: #f0f0f0;height: 200%;" ng-if="xiangmu.length == 0"  style="background-color: #f0f0f0">
                    <div class="empty" ><p>暂无数据 ...</p></div>
                </div>
            </ion-side-menu-content>

            <!-- 左侧菜单 -->
            <!--<ion-side-menu side="left">
                left
            </ion-side-menu>-->

            <!-- 右侧菜单 -->
            <ion-side-menu style="z-index: initial">
                <nav class="hidden  cehua">
                    <p class="ceng" ng-click="guan()"></p>
                    <div class="kuang">
                        <ion-content class="has-header">
                            <div class="item item-input">
                                <div class="input-label" style="width: inherit;">督办名称：</div>
                                <input type="text" name="mtgNm" id="mtgNm" placeholder="请输入督办名称">
                            </div>
                            <div class="item item-input">
                                <div class="input-label" style="width: inherit;">督办编号：</div>
                                <input type="text" name="sprvID" id="sprvID" placeholder="请输入督办编号">
                            </div>
                            <!--<div class="item item-input">
                                <div class="input-label" style="width: inherit;">督办类型：</div>
                                <input type="text" name="sprvTpCd" id="sprvTpCd" placeholder="请输入督办类型">
                            </div>-->

                            <div class="item item-input item-select">
                                <div class="input-label">督办类型：</div>
                                <select id="sprvTpCd" name="sprvTpCd">
                                    <option value="">全部</option>
                                    <option value="{{item.codeValue}}" ng-repeat="item in sprvTpCdData">{{item.codeName}}
                                    </option>
                                </select>
                            </div>



                            <div class="shanxian"></div>
                            <!--  闪现 必加  -->
                        </ion-content>
                        <ion-footer-bar style="height: 43px;padding: 0;">
                            <button class="btn-reset" ng-click="func_reset()">重 置</button>
                            <button class="btn-confirm" ng-click="func_ok()">完 成</button>
                        </ion-footer-bar>
                    </div>
                </nav>
            </ion-side-menu>

        </ion-side-menus>
    </div>
</ion-view>