<ion-view>
    <div>
        <ion-header-bar class="bar-energized" style=""
                        align-title="center">
            <button ng-click="goBack()" class="button button-icon ion-ios-arrow-back"></button>
            <h1 class="title">个人客户查询</h1>
        </ion-header-bar>
        <ion-content class="has-header">
            <div class="item item-input">
                <div class="input-label">
                    客户编号
                </div>
                <input type="text" id="cstId" name="cstId">
            </div>
            <div class="item item-input">
                <div class="input-label">
                    客户法定名称
                </div>
                <input type="text" id="ipNm" name="ipNm">
            </div>
            <div class="item item-input item-select">
                <div class="input-label">
                    证件类型
                </div>
                <select id="ipidTpcd" name="ipidTpcd">
                    <option value="">请选择</option>
                    <option value="{{item.codeValue}}" ng-repeat="item in cardTypes">{{item.codeName}}</option>
                </select>
            </div>
            <div class="item item-input">
                <div class="input-label">
                    证件号码
                </div>
                <input type="text" id="ipidNo" name="ipidNo">
            </div>
        </ion-content>
        <ion-footer-bar style="height: 43px;padding: 0;">
            <button class="btn-reset" ng-click="func_reset()">重 置
            </button>
            <button class="btn-confirm" ng-click="func_ok()">完 成
            </button>
        </ion-footer-bar>
    </div>
</ion-view>

<script id="templates/queryPersonCustomers.html" type="text/ng-template">
    <ion-modal-view id="personCustomerList">
        <ion-header-bar class="bar-energized" align-title="center" style="">
            <button ng-click="modal.hide()" class="button button-icon ion-ios-arrow-left"></button>
            <h1 class="title" ng-click="scrollTop()">个人客户查询</h1>
            <button class="button button-icon ion-ios-search" menu-toggle="right" style="display: block"></button>
        </ion-header-bar>
        <ion-content>
            <ion-refresher refreshing-text="正在加载" on-refresh="func_refresh()">
            </ion-refresher>
            <ion-list id="cuslist">
                <ion-item class="cus-item" ng-repeat="item in items" ng-click="cusItemClick(item)">
                    <div class="cus-item-img-left">
                        <img src="img/companycustomer/customer.png" alt="">
                    </div>
                    <div class="cusItem">
                        <span class="cus-item-title">{{item.name}}</span>
                        <span>客户编号：{{item.no}}</span>
                        <span>主证件类型：{{item.cardType}}</span>
                        <span>主证件号码：{{item.id}}</span>
                    </div>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="finite_state" on-infinite="loadMore()" distance="1%">
            </ion-infinite-scroll>
        </ion-content>
        <div style="width: 100%;background-color: #f0f0f0;height: 100%;" ng-if="!dataFlag">
            <div class="empty"><p>暂无数据 ...</p></div>
        </div>
    </ion-modal-view>.
</script>